/*classes/ID's*/
/*
.title {
    color:red;
}
.subtitle {
    color:black;
}
#contact-us {
    color:green;
}

Psuedoselectors

h2:hover {
    color:red;
}

h2[class=subtitle] {
    color:blue;
}

#services {
    color: green;
}
li:last-child {         last child will be steel blue in the bulleted list
    color:steelblue;
}
li:nth-child(2) {          every 2nd child will be steel blue of the bulleted list
    color:steelblue;
}
td:only-child {             DOESN'T WORK because there is not one child in the table
    color:purple;
}
#google-link:link {
    color:blue;
}

#google-link:visited {
    color: red;

}
*/
/*
Advanced Selectors

h2 + a {
    color:red;
}
textarea ~ button {
    color:purple;
}
ul > li {
    color:blue;
}

ul li {
    color:green;
}

*/


/*Special Attributes
img[src*="img/"] {
    border: px solid black;
}
h2[class~=article-subtitle] {
    background: green;
}

    subtitle-20935
    subtitle-45459


CSS General Rule 

    selector {
        property: value;
        property2: value2;
    }

*/

/*Types of Colors*/
/*When you are designing websites and using colors, use a color picker instead of memorizing color theory*/

/*Coloring Text, Images/URLs and background properties*/
/*Text transform allows you to change text properties (and text-decoration as well). Text align moves text in line with a property */
/**/


body{
    background: linear-gradient(to bottom, rgb(204, 225, 255), rgba(204, 225, 255, 0.4));
    font-size: 1.25em;        
    text-align:justify;
}

#title{
    color: rgb(186, 133, 9);
    font-weight: 800;


}

.subtitle {
    color: rgb(200,148,30);

}

#service-image{
    height:400px;
    width:70%;

    background: radial-gradient(circle, red 20%,blue 40% ,green 70%)

}

.link { 
    text-decoration: underline;
}

.italic {
    font-style: italic;
}
